{% extends 'base.html' %}
{% block content-header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="span12" style="margin: 0 auto; text-align: center;">
            </div>
            <form method="POST" action="/" enctype="multipart/form-data" class="row span12" style="margin: 0 auto;">
                {% csrf_token %}
                <fieldset>
                    <legend style="margin-top: 60px">What "Will" you like today?</legend>

                    <div class="row" style="margin-top: -10px">
                        <div class="span10">
                            <label >Your Full Name:</label>

                            <div class="input-control text size10" data-role="input-control">
                                <input type="text" placeholder="Samuel Chinnaswamy" name="name">
                                <button class="btn-clear" tabindex="-1" type="button"></button>
                            </div>
                        </div>
                        <div class="span2">
                            <label>Age: </label>

                            <div class="input-control text size2" data-role="input-control">
                                <input type="text" placeholder="54" name="age">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span10">
                            <label>Son of/Wife of - (name of male dependent):</label>

                            <div class="input-control text size10" data-role="input-control">
                                <input type="text" placeholder="Mr. Anna Chinnaswamy" name="dependent">
                                <button class="btn-reveal" tabindex="-1" type="button"></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <label>Permanent Address:</label>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span3">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="Apartment" name="address">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span6">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="Street Name" name="street_name">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span3">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="City" name="city">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span3">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="State" name="state">
                            </div>
                        </div>
                    </div>

                    <div class="row " style="margin-top: 0">
                        <div class="span2">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="PIN" name="pin">
                            </div>
                        </div>
                    </div>

                    <legend style="margin-top: 30px;">Properties</legend>
                    <div class="row">
                        <label class="span4">No. of properties (residential or commercial): </label>

                        <div class="input-control text size2 span2" data-role="input-control">
                            <input id="numprop" type="text" placeholder="2" name="prop_num">
                        </div>
                        <div class="span4 offset2">
                            <div style="float: right">
                                <button class="btn" id="numpropbut" onclick="">Add properties</button>
                            </div>
                        </div>
                    </div>

                    <div id="propplace">
                    </div>
                    <div id="propwindow" class="tile quadro" style="margin: 10px; height: 21em; display: none;">
                        <div class="container" style="margin: 10px;">
                            <label > Property </label>

                            <div>
                                <div class="input-control radio default-style" data-role="input-control">
                                    <label>
                                        <input type="radio" checked="" value="res" class="radio-btn">
                                        <span class="check"></span>
                                        Residential
                                    </label>
                                </div>
                                &nbsp; &nbsp;
                                <div class="input-control radio  default-style" data-role="input-control">
                                    <label>
                                        <input type="radio" value="comm" class="radio-btn">
                                        <span class="check"></span>
                                        Commercial
                                    </label>
                                </div>
                                <label> Beneficiary: </label>

                                <div class="input-control text" data-role="input-control">
                                    <input type="text" placeholder="Mr. Anna Chinnaswamy" name="prop-benef">
                                    <button class="btn-reveal" tabindex="-1" type="button"></button>
                                </div>

                                <label> Address: </label>

                                <div class="input-control textarea" data-role="input-control">

                                    <textarea name="prop-addr"> </textarea>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>

                    <legend>Jewellery</legend>
                    <div class="row">
                        <label class="span4">No. of jewellery items: </label>

                        <div class="input-control text size2 span2" data-role="input-control">
                            <input id="numjewel" type="text" placeholder="2" name="jewel_num">
                        </div>
                        <div class="span4 offset2">
                            <div style="float: right">
                                <button id="numjewelbut" style="line-height: normal" onclick="">Add jewels</button>
                            </div>
                        </div>
                    </div>

                    <div id="jewelplace">
                    </div>
                    <div id="jewelwindow" class="tile quadro" style="margin: 10px; height: 21em; display: none;">
                        <div class="container" style="margin: 10px;">
                            <label> Jewellery Item </label>

                            <div>
                                <label> Beneficiary: </label>

                                <div class="input-control text" data-role="input-control">
                                    <input type="text" placeholder="Mr. Anna Chinnaswamy" name="jewel-benef">
                                    <button class="btn-reveal" tabindex="-1" type="button"></button>
                                </div>

                                <label> Description: </label>

                                <div class="input-control textarea" data-role="input-control">
                                    <textarea name="jewel-desc"> </textarea>
                                </div>

                                <div class="input-control textarea" data-role="input-control">
                                    <img id="uploadPreview" style="width: 100px; height: 100px;" />
                                    <input id='jewel_img' type="file" name="pic" accept="image/*" onchange="PreviewImage();">
                                    <script>
                                        function PreviewImage() {
                                            var oFReader = new FileReader();
                                            oFReader.readAsDataURL(document.getElementById("jewel_img").files[0]);

                                            oFReader.onload = function (oFREvent) {
                                                document.getElementById("uploadPreview").src = oFREvent.target.result;
                                            };
                                        }
                                        ;
                                    </script>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="sapn4">
                        <input type="submit" value="POST" onclick=submit_post()>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var totprop = 0;
        var totjewel = 0;

        var last_prop_id = 0;
        var last_jewel_id = 0;

        $("#numpropbut").click(function () {
            var i = document.getElementById('numprop').value;
            totprop += parseInt(i);
            if (totprop > 10) {
                alert("We do not support more than 10 properties.");
                totprop -= parseInt(i);
                return false;
            }
            if (i > 0) {
                for (j = 0; j < i; j++) {
                    last_prop_id += 1;
                    var propbox = $("#propwindow").clone();
                    var sum = last_prop_id;
                    propbox.attr("id", "propwindow" + sum);
                    propbox.appendTo("#propplace");
                    propbox.show();
                    var eleList = document.querySelectorAll("#propwindow" + sum + " .radio-btn");
                    for (var k = 0; k < eleList.length; k++) {
                        eleList[k].name = last_prop_id.toString();
                    }
                }
            }
            return false;
        })

        $("#numjewelbut").click(function () {
            var i = document.getElementById('numjewel').value;
            totjewel += parseInt(i);
            if (totjewel > 10) {
                alert("We do not support more than 10 jewels.");
                totjewel -= parseInt(i);
                return false;
            }
            if (i > 0) {
                for (j = 0; j < i; j++) {
                    last_jewel_id += 1;
                    var jewelbox = $("#jewelwindow").clone();
                    var sum = last_jewel_id;
                    jewelbox.attr("id", "jewelwindow" + sum);
                    jewelbox.appendTo("#jewelplace");
                    jewelbox.show();
                }
            }
            return false;
        })

        function submit_post() {
            document.getElementById('numprop').value = totprop;
            document.getElementById('numjewel').value = totjewel;
        }

    </script>
{% endblock %}


