{% extends 'base.html' %}
{% block content-header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="span12" style="margin: 0 auto; text-align: center;">
            </div>
            <form id="main_form" method="POST" action="/" enctype="multipart/form-data" class="row span12"
                  style="margin: 0 auto;">
                {% csrf_token %}
                <fieldset>
                    <legend style="margin-top: 60px">What "Will" you like today?</legend>

                    <div class="row" style="margin-top: -10px">
                        <div class="span10">
                            <label>Your Full Name:</label>

                            <div class="input-control text size10" data-role="input-control">
                                <input type="text" placeholder="Samuel Chinnaswamy" name="name">
                                <button class="btn-clear" tabindex="-1" type="button"></button>
                            </div>
                        </div>
                        <div class="span2">
                            <label>Age: </label>

                            <div class="input-control text size2" data-role="input-control">
                                <input type="text" placeholder="54" name="age">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span10">
                            <label>Son of/Wife of - (name of male dependent):</label>

                            <div class="input-control text size10" data-role="input-control">
                                <input type="text" placeholder="Mr. Anna Chinnaswamy" name="dependent">
                                <button class="btn-reveal" tabindex="-1" type="button"></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <label>Permanent Address:</label>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span3">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="Apartment" name="address">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span6">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="Street Name" name="street_name">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span3">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="City" name="city">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0">
                        <div class="span3">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="State" name="state">
                            </div>
                        </div>
                    </div>

                    <div class="row " style="margin-top: 0">
                        <div class="span2">
                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="PIN" name="pin">
                            </div>
                        </div>
                    </div>

                    <legend style="margin-top: 30px;">Properties</legend>
                    <div class="row">
                        <div id="propplace" style="margin: 0; padding: 0"></div>
                    </div>

                    <div class="row">
                        <div class="span4">
                            <div>
                                <button class="btn" id="numpropbut" onclick="">Add properties</button>
                            </div>
                        </div>
                    </div>


                    <div id="propwindow" class="tile quadro span6" style="height: auto; display: none; margin-right: 0">
                        <div class="container" style="margin: 10px;">
                            <label style="text-align: center; font-weight: bold">Property</label>

                            <div>
                                <div class="input-control radio default-style" data-role="input-control">
                                    <label>
                                        <input type="radio" checked="" value="res" class="radio-btn">
                                        <span class="check"></span>
                                        Residential
                                    </label>
                                </div>
                                <div class="input-control radio  default-style" data-role="input-control">
                                    <label>
                                        <input type="radio" value="comm" class="radio-btn">
                                        <span class="check"></span>
                                        Commercial
                                    </label>
                                </div>
                                <label> Beneficiary: </label>

                                <div class="input-control text" data-role="input-control">
                                    <input type="text" placeholder="Mr. Anna Chinnaswamy" name="prop-benef">
                                    <button class="btn-reveal" tabindex="-1" type="button"></button>
                                </div>

                                <label> Address: </label>

                                <div class="input-control textarea" data-role="input-control">

                                    <textarea name="prop-addr"> </textarea>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>

                    <legend style="margin-top: 40px;">Jewellery</legend>
                    <div class="row">
                        <div id="jewelplace" style="margin: 0; padding: 0"></div>
                    </div>

                    <div class="row">
                        <div class="span4">
                            <div>
                                <button class="btn" id="numjewelbut" onclick="">Add jewels</button>
                            </div>
                        </div>
                    </div>


                    <div id="jewelwindow" class="tile quadro span6"
                         style="margin-right: 0; height: auto; display: none;">
                        <div class="container" style="margin: 10px;">
                            <label style="text-align: center; font-weight: bold"> Jewellery Item </label>

                            <div>
                                <label> Beneficiary: </label>

                                <div class="input-control text" data-role="input-control">
                                    <input type="text" placeholder="Mr. Anna Chinnaswamy" name="jewel-benef">
                                    <button class="btn-reveal" tabindex="-1" type="button"></button>
                                </div>

                                <label> Description: </label>

                                <div class="input-control textarea" data-role="input-control">
                                    <textarea name="jewel-desc"> </textarea>
                                </div>

                                <div class="input-control textarea" data-role="input-control">
                                    <img id="uploadPreview" style="width: 100px; height: 100px;"/>
                                    <input id='jewel_img' type="file" name="pic" accept="image/*"
                                           onchange="PreviewImage();">
                                    <script>
                                        function PreviewImage() {
                                            var oFReader = new FileReader();
                                            oFReader.readAsDataURL(document.getElementById("jewel_img").files[0]);

                                            oFReader.onload = function (oFREvent) {
                                                document.getElementById("uploadPreview").src = oFREvent.target.result;
                                            };
                                        }
                                        ;
                                    </script>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="span4">
                        <input type="submit" value="POST" onclick="submit_post()">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var totprop = 0;
        var totjewel = 0;

        var last_prop_id = 0;
        var last_jewel_id = 0;

        $("#numpropbut").click(function () {
            totprop += 1;
            if (totprop > 10) {
                alert("We do not support more than 10 properties.");
                totprop -= 1;
                return false;
            }


            if (totprop % 2 != 0) {
                $("#propplace").append("<div class='row'></div>");
                var propbox = $("#propwindow").clone();
                var sum = totprop;
                propbox.attr("id", "propwindow" + sum);
                $("#propplace").find("div:last-child").append(propbox);
                propbox.show();
                var eleList = document.querySelectorAll("#propwindow" + sum + " .radio-btn");
                for (var k = 0; k < eleList.length; k++) {
                    eleList[k].name = totprop.toString();
                }
            }
            else {
                var propbox = $("#propwindow").clone();
                var sum = totprop;
                propbox.attr("id", "propwindow" + sum);
                var proprow = $("#propplace").find(".row:last-child");
                proprow.append(propbox);
                propbox.show();
                var eleList = document.querySelectorAll("#propwindow" + sum + " .radio-btn");
                for (var k = 0; k < eleList.length; k++) {
                    eleList[k].name = totprop.toString();
                }
            }


            return false;
        });


        $("#numjewelbut").click(function () {
            totjewel += 1;
            if (totjewel > 10) {
                alert("We do not support more than 10 jewels.");
                totjewel -= 1;
                return false;
            }

            if (totjewel % 2 != 0) {
                $("#jewelplace").append("<div class='row'></div>");
                var jewelbox = $("#jewelwindow").clone();
                var sum = totjewel;
                jewelbox.attr("id", "jewelwindow" + sum);
                $("#jewelplace").find("div:last-child").append(jewelbox);
                jewelbox.show();
                var eleList = document.querySelectorAll("#jewelwindow" + sum + " .radio-btn");
                for (var k = 0; k < eleList.length; k++) {
                    eleList[k].name = totprop.toString();
                }
            }
            else {
                var jewelbox = $("#jewelwindow").clone();
                var sum = totprop;
                jewelbox.attr("id", "jewelwindow" + sum);
                var jewelrow = $("#jewelplace").find(".row:last-child");
                jewelrow.append(jewelbox);
                jewelbox.show();
                var eleList = document.querySelectorAll("#jewelwindow" + sum + " .radio-btn");
                for (var k = 0; k < eleList.length; k++) {
                    eleList[k].name = totprop.toString();
                }
            }
            return false;
        });


        function submit_post() {
            var input = $("<input>").attr("type", "hidden").attr("name", "prop_num").val(totprop);
            $("#main_form").append($(input));
            input = $("<input>").attr("type", "hidden").attr("name", "jewel_num").val(totjewel);
            $("#main_form").append($(input));
        }

    </script>
{% endblock %}


